@use 'variaveis';

@mixin title($tamanho:40px){
    font-size: $tamanho;
    color: variaveis.$corDaFonte;
    margin-bottom: 8px;
}

.cotacao{
    .container{
        flex-direction: column;
        align-items: start;
    }
    &__titulo{
        @include title(32px)
    }
    &__valor{
        background-color: variaveis.$corDaBordaCabecalho;
        width: 100%;
        border-radius: 8px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include title(20px)
    }
}